kestra/.github/workflows/build-docker-with-plugins.yml
# Build Docker image with all open-source plugins (for forks / production).
# Image is built and can be pushed to GHCR for deployment.
name: Build Docker with plugins

on:
  workflow_dispatch:
  push:
    branches: [main]
  release:
    types: [published]

env:
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Get version
        id: version
        run: |
          V=$(grep '^version=' gradle.properties | sed 's/version=//' | sed 's/-SNAPSHOT//' | tr -d ' \r')
          echo "version=$V" >> $GITHUB_OUTPUT

      - name: Fetch plugin list
        id: plugins
        run: |
          V="${{ steps.version.outputs.version }}"
          RESPONSE=$(curl -s "https://api.kestra.io/v1/plugins/artifacts/core-compatibility/${V}/latest")
          if [ -z "$RESPONSE" ] || [ "$RESPONSE" = "null" ]; then
            echo "list=" >> $GITHUB_OUTPUT
          else
            LIST=$(echo "$RESPONSE" | jq -r '.[] | select(.license == "OPEN_SOURCE" and (.groupId != "io.kestra.plugin.ee") and (.groupId != "io.kestra.ee.secret")) | "\(.groupId):\(.artifactId):\(.version)"' | tr '\n' ' ')
            echo "list=$LIST" >> $GITHUB_OUTPUT
          fi

      - name: Build executable JAR
        run: ./gradlew -q executableJar --no-daemon

      - name: Prepare docker/app
        run: |
          mkdir -p docker/app
          cp build/executable/kestra-* docker/app/kestra 2>/dev/null || cp build/executable/kestra docker/app/kestra
          chmod +x docker/app/kestra

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ env.REGISTRY }}/${{ github.repository }}:${{ steps.version.outputs.version }}-with-plugins
            ${{ env.REGISTRY }}/${{ github.repository }}:latest-with-plugins
          build-args: |
            KESTRA_PLUGINS=${{ steps.plugins.outputs.list }}
            APT_PACKAGES=python3 python-is-python3 python3-pip curl jattach
            PYTHON_LIBRARIES=kestra
          cache-from: type=gha
          cache-to: type=gha,mode=max
